server {  
              listen 80;
              server_name coralmovies.com www.coralmovies.com;

	       location ~* \.(jpg|jpeg|gif|png|css|js|ico|woff|woff2|ttf|eot|svg)$ {
		       root /home/webuser/workspace/lampa-source/build/web;
			try_files $uri =404;
			expires 30d;
			add_header Cache-Control "public, must-revalidate";
	      }

              location / {  
                           proxy_pass http://localhost:3000;  
                           proxy_http_version 1.1;  
                           proxy_set_header Upgrade $http_upgrade;  
                           proxy_set_header Connection 'upgrade';  
                           proxy_set_header Host $host;  
                           proxy_cache_bypass $http_upgrade;  
               }  

	      location = /edw445r72j8 {
		alias /home/webuser/workspace/lampa-source/static/galaksion.html;
		default_type text/html;
	      }

	      location = /edxau7jd3e8i {
		alias /home/webuser/workspace/lampa-source/static/adsupply.html;
		default_type text/html;
	      }

	      location = /da8sdau4jdad {
		alias /home/webuser/workspace/lampa-source/static/adright.html;
		default_type text/html;
	      }
}

