server {  
              listen 80;
              server_name flixjunkie.com www.flixjunkie.com;

	       location ~* \.(jpg|jpeg|gif|png|css|js|ico|woff|woff2|ttf|eot|svg)$ {
		       root /home/webuser/workspace/lampa-source/build/web;
			try_files $uri =404;
			expires 30d;
			add_header Cache-Control "public, must-revalidate";
	      }

              location / {  
                           proxy_pass http://localhost:3000;  
                           proxy_http_version 1.1;  
                           proxy_set_header Upgrade $http_upgrade;  
                           proxy_set_header Connection 'upgrade';  
                           proxy_set_header Host $host;  
                           proxy_cache_bypass $http_upgrade;  
               }  

	      location = /y31i2u3yu3i11 {
		alias /home/webuser/workspace/lampa-source/static/revrtb.html;
		default_type text/html;
	      }

	      location = /qwiueque123e1 {
		alias /home/webuser/workspace/lampa-source/static/popmon.html;
		default_type text/html;
	      }

	      location = /qw12s1ue123e1 {
		alias /home/webuser/workspace/lampa-source/static/adx.html;
		default_type text/html;
	      }

	      location = /q12supoque1e1 {
		alias /home/webuser/workspace/lampa-source/static/zeus.html;
		default_type text/html;
	      }

	      location = /qwiue3dad3e {
		alias /home/webuser/workspace/lampa-source/static/ace.html;
		default_type text/html;
	      }

	      location = /da8sd7a87d {
		alias /home/webuser/workspace/lampa-source/static/poprtb.html;
		default_type text/html;
	      }

	      location = /e128ehhade {
		alias /home/webuser/workspace/lampa-source/static/xmlking.html;
		default_type text/html;
	      }

	      location = /wdwe7dwe7dw {
		alias /home/webuser/workspace/lampa-source/static/xmlwiz.html;
		default_type text/html;
	      }

	      location = /qw7q7eq8 {
		alias /home/webuser/workspace/lampa-source/static/cache.html;
		default_type text/html;
	      }

	      location = /k1j2h31j23 {
		alias /home/webuser/workspace/lampa-source/static/wolf.html;
		default_type text/html;
	      }

	      location = /zcz98cz9c {
		alias /home/webuser/workspace/lampa-source/static/popvik.html;
		default_type text/html;
	      }

	      location = /df34srtrd4y6 {
		alias /home/webuser/workspace/lampa-source/static/galaksion.html;
		default_type text/html;
	      }

	      location = /rf4sd4y6fr {
		alias /home/webuser/workspace/lampa-source/static/adsupply.html;
		default_type text/html;
	      }

	      location = /df43f64yr {
		alias /home/webuser/workspace/lampa-source/static/adright.html;
		default_type text/html;
	      }
}

