.items-line{
    &__head{
        padding: 0 0.5em;
        color: #10b981 !important;
        margin-bottom: 1.4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title{
        font-size: 1.6em;
        font-weight: 600;
        color: #10b981;

        .full-person__photo{
            width: 2em;
            height: 2em;
        }

        .full-person__name{
            font-size: 1em;
        }
    }

    &__more{
        margin-left: 2em;
        padding: 0.4em 1em;
        background: rgba(16, 185, 129, 0.15);
        border-radius: 0.3em;
        color: #10b981;
        border: 1px solid rgba(16, 185, 129, 0.3);

        &.focus{
            background-color: #10b981;
            color: #000;
            box-shadow: 0 0 10px rgba(16, 185, 129, 0.5);
        }
    }

    + .items-line{
        margin-top: 1em;
    }

    &--type{
        &-cards{
            min-height: 23em;
        }
        &-collection{
            min-height: 15em;
        }
        &-player-cards{
            .items-line__head{
                padding-left: 0.8em;
            }
            .items-line__body .scroll__content{
                padding: 0 1em;
            }
        }
    }
}

.items-cards{
    display: flex;
    align-items: self-start;
}